<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!--同步数据库-->
    <!--<appender name="DB-CLASSIC-MYSQL-POOL" class="ch.qos.logback.classic.db.DBAppender">-->
        <!--<connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">-->
            <!--<dataSource class="com.zaxxer.hikari.HikariDataSource">-->
                <!--<driverClassName>com.mysql.jdbc.Driver</driverClassName>-->
                <!--<jdbcUrl>jdbc:mysql://47.93.234.102:3306/lixing-quick?useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false</jdbcUrl>-->
                <!--<username>root</username>-->
                <!--<password>root</password>-->
            <!--</dataSource>-->
        <!--</connectionSource>-->
    <!--</appender>-->
    <!-- 开发环境下的日志配置 -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </root>
        <logger name="com.lingxi" additivity="true" level="INFO">
            <!--<appender-ref ref="DB-CLASSIC-MYSQL-POOL" />-->
        </logger>
    </springProfile>
    <!-- 生产环境下的日志配置 -->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="FILE" />
        </root>
        <logger name="com.lingxi" additivity="true" level="DEBUG">
            <!--<appender-ref ref="DB-CLASSIC-MYSQL-POOL" />-->
        </logger>
    </springProfile>
</configuration>